.horizontal-navbar {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  margin-left: 300px;
}

.horizontal-navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
}

.horizontal-navbar a:hover {
  background-color: #575757;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media (max-width: 768px) {
  .horizontal-navbar {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .horizontal-navbar a {
    padding: 10px 15px;
    font-size: 0.9em;
  }

  .dropdown-content {
    position: relative;
    min-width: 100%;
    box-shadow: none;
  }

  .dropdown-content a {
    padding: 10px 15px;
  }
}

@media (max-width: 576px) {
  .horizontal-navbar {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .horizontal-navbar a {
    padding: 8px 12px;
    font-size: 0.8em;
  }

  .dropdown-content {
    position: relative;
    min-width: 100%;
    box-shadow: none;
  }

  .dropdown-content a {
    padding: 8px 12px;
  }
}


