

  .navbar ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;  
    margin: 0;   
  }
  
 
  .navbar li {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
  }
  
 
  .dropdown {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #fff;
    color: #333;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 50vh;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  

  .dropdown a {
    width: 10%;
    margin: 5px;
    padding: 10px;
    background-color: #eee;
    color: #333;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  

  .dropdown a:hover {
    background-color: #ddd;
  }
  

.navbar {
    background-color:  #0056b3;
    color: white;
    display: flex;
    justify-content: left;
    padding: 14px 20px;
    width: 100%;
    position: fixed;  
    top: 0;           
    left: 0;          
    z-index: 1050;   
  }
  
