.title-about {
    padding: 20px;
    border-radius: 8px;
    margin-top: 60px;  
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1000; 
  }
  
  .title-about h1 {
    color: #0077cc;
    margin-bottom: 10px;
    font-size:x-large;
  } 